%h1 Contact
.contact_form
  = form_for @message do |f|
    .field
      = f.label :name
      %br
      = f.text_field :name
    .field
      = f.label :email
      %br
      = f.text_field :email
    .field
      = f.label :subject
      %br
      = f.text_field :subject, :value => params[:subject]
    .field
      = f.label :content, "Message"
      %br
      = f.text_area :content
    .actions= f.submit "Send Message", :class => "contact_form_submit_button", :value => "Send"