<h1>Encore Furnishings</h1>
<nav>
  <ul>
    <li><%= link_to "About", 'about#index' %></li>
    <li><%= link_to "Services", 'services#index' %></li>
    <li><%= link_to "Products", 'products#index' %></li>
    <li><%= link_to "Blog", 'http://parisavenuehouse.wordpress.com/' %></li>
    <li><%= link_to "Contact", 'contact#index' %></li>
  </ul>
</nav>