%div.product
  %h1= @product.title
  = image_tag(@product.image.url(:large).to_s, :id => "#{@product.title} large")
  %p= @product.description
  %p= "$" + "#{@product.price}"

  .products_link
    = link_to "Back to Products", products_path