%div.product
  %h1= @product.title
  = image_tag(@product.image.url(:large).to_s, :id => "#{@product.title} large")
  %p= @product.description
  %p.status
    .price
      = ("$" + "#{@product.price}")
    - if @product.sold?
      .sold
        = "SOLD!"
    - else
      .interested
        = link_to "I'm interested!", contact_path(:subject => @product.title)

  .products_link
    = link_to "Back to Products", products_path