!!!
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class="ie6" lang="en">
/[if IE 7 ] <html class="ie7" lang="en">
/[if IE 8 ] <html class="ie8" lang="en">
/[if IE 9 ] <html class="ie9" lang="en">
/ [if (gt IE 9)|!(IE)]><!
%html{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    / Uncomment to make IE8 render like IE7
    / <meta http-equiv="X-UA-Compatible" content="IE=7" />
    / Set the viewport width to device width for mobile
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Encore Furnishings"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/custom.modernizr"
    = csrf_meta_tags
    = favicon_link_tag 'https://s3-us-west-2.amazonaws.com/encorefurnishings-assets/uploads/favicon.ico'

    = javascript_include_tag "application"

  %body

    #fb-root

    #flash_messages
      - flash.each do |name, msg|
        = content_tag :div, msg, class: name

    .row.title_row
      .main_title.large-12.columns.small-12.columns
        %h1= link_to "Encore Furnishings", home_path

    .row.navigation_row
      .facebook_actions.large-5.columns.small-12.columns
        = render "layouts/facebook_actions"
      .navigation_menu.large-6.columns.small-12.columns
        = render "layouts/navigation_menu"

    .row.content
      = yield

    .row
      = render "layouts/footer"
